

html{margin: 0; padding: 0; font-size: 10px; font-family: "Poppins", sans-serif;
}
li{list-style-type: none;}
a{text-decoration: none;}
.header{ width: 100%; height: 100vh;  background-image: url(assets/bg_2.jpg.webp); background-repeat: no-repeat ; background-size: 100% 100%;
}

.anime1 i{color: white;}
    .anime1{width: 80px; height: 80px; background-color: #f9ab30; display: flex; justify-content: center; align-items: center; border-radius: 50%; }
    .anime1{animation: circle 2s infinite;}
    @keyframes circle{
        0%{box-shadow: 0 0 0 0 rgba(249, 171, 48, 0.4);}
        70%{box-shadow: 0 0 0 30px rgba(249, 171, 48, 0);}
        100%{box-shadow: 0 0 0 0 rgba(249, 171, 48, 0);}
    }
.header1{width: 80%; height: 100vh;  display: flex; flex-direction: column; align-items: center; justify-content: center;  margin-left: 10%; }

.nav, .animacion1, .texts, .conteiner{width: 100%; display: flex; justify-content: space-between; align-items: center; }
.nav1{ width: 50%; height: 100%; display: flex; justify-content: space-between; align-items: center; margin: 0;}
.nav1 li{width: 20%; height: 100%;  display: flex; align-items: center; }
.nav{width: 100%; height: 100px; color: rgba(255, 255, 255, 0.5); position: fixed;z-index: 99; top:0; padding-left: 10%; padding-right: 10%; background-color: white;} 

    
.logo{height: 100px; width: 160px; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #33313b; color: #FFFFFF; font-size: 2.4rem; font-weight: 700; padding: 0;}
.logo span{ color: rgba(255, 255, 255, 0.9);; font-size: 1.2rem; font-weight: 600;}
.book, li .x{ color: #000000; font-size: 1.5rem; font-weight: 400;}
.nav1 li .xx{color: #f9ab30;}
.nav1 li .x:hover{color: #000000; cursor: pointer;}
.nav1 li .xx:hover{color: #000000; cursor: pointer;}
.nav1 li:hover{ cursor: pointer;}
.book:hover{color: #000000; cursor: pointer;}
.book{height: 70%; width: 10%; background-color: #f9ab30; border: 0; border-radius: 3px;}
.animacion1{height: 15vh; display: flex; align-items: center; justify-content: center;}
.texts{height: 30vh; display: flex; flex-direction:column; text-align: center;}
.texts p{font-size: 1.6rem; font-weight: 400;color: rgba(255, 255, 255, 0.9);}
.texts h1{font-size: 6rem; font-weight: 400;color:#fff; }
.conteiner{height: 120px; width: 80%; margin: auto; background-color: #33313B; color: #FFFFFFCC; display: flex; justify-content: space-around; margin-top: -121px; }
.conteiner div{height: 60%; width: 15%; display: flex; flex-direction: column; justify-content: center; gap: 5px; font-size: 1.8rem;}
.search{height: 60%; width: 15%; background-color: #f9ab30; color: #fff; border-radius: 40px; border: none; font-size: 1.8rem;}
.conteiner div input, .conteiner div select{outline: none; border: 0; border-radius: 0; box-shadow: none; background-color: #33313B; color: #FFFFFFCC;}
.conteiner div .input{width: 100%; display: grid; grid-template-columns: 10% 90%;}
.conteiner div .input i{grid-column: 1/2; margin: auto; font-size: 1.3rem; color: #ffffff8e;}
.conteiner div .input input{grid-column: 2/3;}
option{background-color:white ;}
.section img{width: 60px; height: 61px;  filter: invert(89%) sepia(21%) saturate(5707%) hue-rotate(334deg) brightness(99%) contrast(96%); margin-bottom: 10px;}
.section{width: 100%; background: #f9fafb; display: flex; justify-content: center; align-items: center; gap: 0; padding: 10%; }
.section-1, .section-2{width: 50%;}
.section-1{ display: flex; flex-wrap: wrap; gap: 60px; }
.sec-1{width: 40%;}
.sec-1 h3{color: rgba(0, 0, 0, 0.8); font-size: 1.8rem; font-weight: 500;line-height: 1.5;}
.section-2 p, .sec-1 p{color: #999999; font-size: 1.6rem; font-weight: 400; line-height: 1.8;}
.article-1, .section-2{display: flex; flex-direction: column; gap: 10px;}
.section-2 h1{color: rgba(0, 0, 0, 0.8); font-size: 4rem; font-weight: 600;line-height: 1.5;}
.search-destination{background-color: #f9ab30; border: 1px solid #f9ab30; border-radius: 35px; width: 30%; color: #fff; font-size: 1.5rem; font-weight: 400; height: 50px;}
.article1{width: 100%; display: flex; justify-content: center; align-items: center; gap: 0; padding: 0% 10% 10% 10%;}
.about, .article-1{width: 50%;}
.art-2{display: flex; justify-content: space-around; }
.about img{width: 100%; height: 100vh;}
.article-1{padding: 5%; gap: 30px;}
.art-1 h1{color: rgba(0, 0, 0, 0.8); font-size: 4rem; font-weight: 600;line-height: 1.5;}
.art-1 p{color: #999999; font-size: 1.6rem; font-weight: 400; line-height: 1.8; margin-top: 5%;}
.Tours{display: flex; flex-direction: column; justify-content: center; align-items: center;}
.Tours h1{color: #f9ab30; font-size: 2.8rem; font-weight: 600;}
.Tours p{color: #999999; font-size: 1.4rem;}
.article3, .article2{width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 20px; padding: 0% 10% 10% 10%;}
.best-place h1{color: rgba(0, 0, 0, 0.8); font-size: 4rem; font-weight: 600;line-height: 1.4;}
.city{display: flex; justify-content: space-between; align-items: center; width: 100%; }
.city1{width: 23%; height: 320px; background-image: url(assets/place-1.jpg.webp); background-size: 100% 100%; background-position: center; border-radius: 8px;}
.city2{width: 23%; height: 320px; background-image: url(assets/place-2.jpg.webp); background-size: 100% 100%; background-position: center; border-radius: 8px;}
.city3{width: 23%; height: 320px; background-image: url(assets/place-3.jpg.webp); background-size: 100% 100%; background-position: center; border-radius: 8px;}
.city4{width: 23%; height: 320px; background-image: url(assets/place-4.jpg.webp); background-size: 100% 100%; background-position: center; border-radius: 8px;}
.city1, .city2, .city3, .city4{display: flex; flex-direction: column; justify-content: space-between; padding: 10px 0px 10px 0px; }
.city1 .h3, .city2 .h3, .city3 .h3, .city4 .h3{width: 100%; color: #fff; font-size: 2.2rem; font-weight: 500; padding-left: 10px;}
.city1 .button, .city2 .button, .city3 .button, .city4 .button{width: 100%; height: 10%; display: flex; justify-content: end; align-items: center; }
.city1 .button button, .city2 .button button, .city3 .button button, .city4 .button button{ width: 30%; background-color: #33313b; border-radius: 20px 0px 0px 20px; border: 0; color:#fff; font-size: 1.6rem; text-align: start; padding: 5px 5px 5px 15px;}
.city1 .button button:hover{background-color: #f9ab30; color: white; width: 40%; transition:1s;}
.city2 .button button:hover{background-color: #f9ab30; color: white; width: 40%; transition:1s;}
.city3 .button button:hover{background-color: #f9ab30; color: white; width: 40%; transition:1s;}
.city4 .button button:hover{background-color: #f9ab30; color: white; width: 40%; transition:1s;}
.city1, .city2, .city3, .city4:hover{cursor: pointer;}
.indonesia{ width: 100%; display: flex; flex-wrap: wrap; justify-content: space-between; }
.bali{width: 30%; height: 500px; }
.bali1 a{text-decoration: none;}
.bali1 img{width: 100%; height: 270px;}
.bali2{width: 100%; padding: 5%; height: 200px; display: flex; flex-wrap: wrap; flex-direction: column; align-items: flex-start; gap: 10px; border: 1px solid rgba(128, 128, 128, 0.527);}
.near{display: flex; gap: 10px; align-items: center; justify-content: center; padding: 0; margin: 0; }
.bali2 img{width: 10px; height: 13px; filter: invert(59%) sepia(2%) saturate(23%) hue-rotate(62deg) brightness(103%) contrast(91%);}
.bali2 .near img{width: 20px; height: 20px; filter: invert(89%) sepia(21%) saturate(5707%) hue-rotate(334deg) brightness(99%) contrast(96%); }
.bali2 span{color: #999999; font-size: 1.2rem; font-weight: 400;}
.bali2 h1{color: rgba(0, 0, 0, 0.8); font-size: 2.4rem; font-weight: 500;}
.bali2 p{color: #999999; font-size: 1.6rem; font-weight: 500; padding: 0; margin: 0; }
.bali2-1{width: 80%; height: 20%; display: flex; align-items: center; gap: 10px;}
.near p{color: rgba(0, 0, 0, 0.8); font-size: 1.6rem; font-weight: 400;}
.bali{position: relative; z-index: 1; margin-bottom: 25px;}
.bali3{ background-color: #f9ab30;  border: 40px; width: 40%; height: 8%; display: flex; align-items: center; justify-content: center; border-radius: 3540px; position: absolute; z-index: 2; top: 50%; left: 30%;  }
.bali3 h1{color: #fff; font-size: 2rem; font-weight: 500; margin: 10px 0px 10px 0px; }
.bali3:hover{background-color: #33313B; color: white;  left: 25%; transition: 1s;width: 50%;}
.article4{width: 100%;  background: url(assets/bg_3.jpg.webp) no-repeat 100% 100%; padding-top: 10vh; display: flex; flex-direction: column; align-items: center; gap: 40px;}
.art-4{width: 80%; height: 80vh; margin: auto; }

.item{background-color: white; padding: 20px; display: flex; flex-direction: column;border-radius:5px;}
.item p{color: #999999; font-size: 1.8rem; font-weight: 400;padding: 0;margin: 0; margin-bottom: 30px; }
.i2{display: flex; flex-direction: column; align-items: flex-start; justify-content: center; padding: 0;margin: 0; gap: 5px;}
.i2 h1{padding: 0;margin: 0; color: rgba(0, 0, 0, 0.8); font-size: 2.4rem; font-weight: 500;}
.i2 h2{color: #999999; font-size: 1.8rem; font-weight: 400;padding: 0; margin: 0;}
.i1{display: flex; align-items: center; justify-content: flex-start; gap: 20px;}
.i1-img1{width: 80px; height: 80px; border-radius: 50%; background-image: url(assets/person_1.jpg.webp); background-repeat: no-repeat ; background-size: 100% 100%;}
.i1-img2{width: 80px; height: 80px; border-radius: 50%; background-image: url(assets/person_2.jpg.webp); background-repeat: no-repeat ; background-size: 100% 100%;}
.i1-img3{width: 80px; height: 80px; border-radius: 50%; background-image: url(assets/person_3.jpg.webp); background-repeat: no-repeat ; background-size: 100% 100%;}


.article5{width: 100%; display: flex; flex-direction: column; justify-content: space-around; align-items: center; padding-top: 40px;}

.article5-header{width: 80%;  display: flex; align-items: center; justify-content: space-between; margin-top: 40px;}
.art5{width: 31%; height: 80vh; padding: 0; margin: 0;}
.art5-1{width: 100%; height: 50%; box-sizing: border-box;}
.art5-1 img{width: 100%; height: 100%; }
.art5-1{position: relative; }
.art5-1-1{position: absolute; bottom: 0px; width: 40%; height: 30%; background-color: #f9ab30; border-radius: 0px 30px 0px 0px; display: flex; justify-content: flex-start; align-items: center; padding-left: 5px; gap: 10px;}
.art5-1-1-1 h1{color: #fff; font-size: 5rem; font-weight: 300;}
.art5-1-1-2{display: flex; flex-direction: column; align-items: flex-start; justify-content: center;}
.art5-1-1-2 span{color:rgba(255, 255, 255, 0.8); font-size: 1.3rem;  padding: 0; margin: 0; }
.art5-2{padding: 10px;}
.art5-2 h1{color: rgba(0, 0, 0, 0.8); font-size: 2.2rem; font-weight: 700; line-height: 1.5;}
.art5-2 p{color: #999999; font-size: 1.6rem; font-weight: 400; line-height: 1.8;}
.art5-2 h1:hover{color: #f9ab30; transition: 0.5s;}

footer{width: 100%; background-image: url(assets/footer-bg.jpg.webp); background-repeat: no-repeat ; background-size: 100% 100%;  display: flex; flex-direction: column; align-items: center; gap: 40px; padding: 50px;}
.footer{width: 80%; display: flex;  justify-content: space-between; }
.footer1, .footer2, .footer3, .footer4{ width: 22%; }
.footer h1{color: #fff; font-size: 2rem; font-weight: 700; margin-bottom: 40px;}
.footer p{color: rgba(255, 255, 255, 0.7);font-size: 1.8rem; font-weight: 600; margin-bottom: 60px; }
.footer span{color: rgba(255, 255, 255, 0.7);font-size: 1.8rem; font-weight: 600; margin-bottom: 60px; }
.footer li h3{color: rgba(255, 255, 255, 0.7);font-size: 1.8rem; font-weight: 600; margin-bottom: 20px; margin-left: -20px;}
.foot-1{display: flex; gap: 15px;  padding: 0;}
.foot-1 li{background-color:#FFFFFF0D; border-radius: 50%; width: 50px; height: 50px; display: flex; align-items: center; justify-content: center;}
.foot-1 li i{color: white; font-size: 26px;}
.footer4-div{display: flex;  gap: 15px;}
.f4-div1{display: flex; align-items: flex-start;padding: 0;}
.f4-div2{display: flex; align-items: flex-start;padding: 0;}
.footer4-div i{color: white; font-size: 20px; margin-top: 3px;}
.foot-p{width: 80%;  color: rgba(255, 255, 255, 0.7); font-size: 1.8rem; font-weight: 600; }
.foot-p a{color: rgba(255, 255, 255, 0.7); font-size: 1.8rem; font-weight: 600;}
.foot-p a:hover{color: white;}


.nav-hamb{display: none; }
#chk{display: none; }
.nav2-chk{display: flex; }
.nav-hamb label{ color: rgba(0, 0, 0, 0.5) ; font-size: 2rem; height: 100px; display: flex; align-items: center;}
.nav-hamb label:hover{cursor: pointer;}
.nav2-chk li{list-style-type: none; padding-top: 10px; padding-bottom: 10px;}
.nav2-chk li a{color: #000000; font-size: 1.5rem; font-weight: 400; text-decoration: none;}
.nav2-chk li .o{color: #f9ab30; }
.nav2-chk .b{background-color: #f9ab30; border: 0; border-radius: 3px; padding-left: 10px;}
.nav2-chk .b a{color: white;}
.nav2-chk li:hover{cursor: pointer;}

    







@media only screen and (max-width: 980px){
    .nav1, .book{display: none;}
    .nav2-chk{ visibility: hidden; position: absolute; z-index: 555; background-color: white; width: 100%; left: 0px; flex-direction: column; padding-left: 10%; padding-right: 10%; }
    .nav-hamb{display: block;}
    #chk:checked ~ .nav2-chk {visibility: visible;}

    .conteiner{display: flex;  flex-direction: column; margin-top: -150px;height: 600px; }
    .conteiner div{width: 80%;}
    .search{width: 80%; height: 10%;}
}
@media only screen and (max-width: 780px){
    .section{width: 100%; display: flex; flex-direction: column-reverse; padding: 10%; }
    .section-1, .section-2{width: 80%; display: flex; flex-direction: column; gap: 10px; margin-bottom: 3%;}
    .sec-1{width: 100%;}
    .article5, .article3, .article2, .article1{width: 100%; display: flex; flex-direction: column;  padding: 10%; }
    .about, .article-1{width: 80%;}
    .art-2{display: flex; flex-direction: column; gap: 20px;}
    .indonesia, .city{width: 80%; display: flex; flex-direction: column;}
    .city1, .city2, .city3, .city4{width: 100%;}
    .bali{width: 100%; height: 500px; }
    .article5-header{width: 80%; display: flex; flex-direction: column; gap: 20px;}
    .art5{width: 100%;  padding: 0; margin: 0;}
    footer{display: flex; flex-direction: column; align-items: center; gap: 40px;}
    .footer{width: 80%; display: flex;  flex-direction: column; align-items: start; gap: 50px;}
    .footer1, .footer2, .footer3, .footer4{ width: 100%; }

    .conteiner{display: flex;  flex-direction: column; margin-top: 0;height: 600px;}
    .conteiner div{width: 80%;}
    .search{width: 80%; height: 10%;}
}

